html, body {
    background-image: url('./Tokyo_Station.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }

  .app-container {
    position: relative; /* So absolute positioning works within it */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.search-container {
    position: absolute; 
    top: 10px;          /* Top padding */
    left: 10px;         /* Left padding */
    display: flex;      
    flex-direction: row; 
    gap: 0px;          
}


.search-button {
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 4px;
}

.weather-output {
    color: white;
    border: 2px solid white;
    padding: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    width: max-content;
    margin: 20px auto;
}
